[submodule "3rd/qtadvancedcss"]
	path = 3rd/qtadvancedcss
	url = https://github.com/ChiChuYuRen/Qt-Advanced-Stylesheets.git
[submodule "3rd/QSimpleUpdater"]
	path = 3rd/QSimpleUpdater
	url = https://github.com/alex-spataru/QSimpleUpdater
[submodule "3rd/singleapplication"]
	path = 3rd/singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
